# Data source
db.username=studytracker
db.password=studytracker
db.host=localhost
db.name=study-tracker-test
db.port=27017
db.connectionString=mongodb://${db.host}:${db.port}
# Storage
storage.mode=egnyte
egnyte.root-url=https://mydomain.egnyte.com
egnyte.api-token=xxxxx
egnyte.root-path=Shared/
egnyte.qps=4