# Storage
storage.local-dir=/tmp
storage.overwrite-existing=true
storage.use-existing=true
storage.max-folder-read-depth=1

# Data source
db.username=studytracker
db.password=studytracker
db.host=localhost
db.name=study-tracker-test
db.port=27017
db.connectionString=mongodb://${db.host}:${db.port}

# Events
events.mode=eventbridge

# AWS
aws.access-key-id=xxx
aws.secret-access-key=xxx
aws.region=us-east-1
aws.eventbridge.bus-name=study-tracker