*.iml
.idea/
target/
node_modules/
src/main/resources/static/js/bundle.js
src/main/resources/static/css/app.css
security.properties
*.log
TODO.md
test.properties
internal/
src/test/resources/*.properties

# To be removed
application.properties
application-**.properties
study_template.pptx
decibel-*.png