### General

# Host name of your application (should not include protocol or port).
# Eg. localhost or mywebsite.com
application.host-name=

### Admin user creation
# Optional
# The first time Study Tracker starts, an admin user will be created. If not specified here, a
# generic email and random password will be assigned.
admin.email=
admin.password=

### Data Source
# Provide the connection information for the primary Study Tracker database. The user and schema
# need to be configured ahead of time.
db.username=
db.password=
db.host=
db.port=
db.name=

### AWS
# Optional
# If connecting with Event Bridge, provide your AWS region, access key and secret key.
aws.region=
aws.access-key-id=
aws.secret-access-key=

### Events
# Determines where to dispatch events. Can be 'eventbridge' or 'local'. Default mode: 'local'
events.mode=
aws.eventbridge.bus-name=

### Email
# Provide SMTP connection details for outgoing emails.
spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
email.outgoing-email-address=${spring.mail.username}

### Notebook
# Connect Study Tracker with your ELN
# Options: 'none', 'idbs', 'benchling'. Default: 'none'
notebook.mode=
benchling.eln.api.token=
benchling.eln.api.root-url=
benchling.eln.api.root-entity=
benchling.eln.api.root-folder-url=

### File Storage
# Options: local, egnyte. Defaults to local
storage.mode=
storage.use-existing=true
storage.max-folder-read-depth=3

## Local: Provide options for local file system storage
storage.temp-dir=
storage.local-dir=

## Egnyte
egnyte.root-url=
egnyte.api-token=
egnyte.root-path=
egnyte.qps=3

### Studies
# You can change default study code creation behavior here
study.default-code-prefix=ST
study.default-external-code-prefix=EX
study.code-counter-start=10001

### Search
# Study Tracker can integrate with Elasticsearch to provide advanced study search functionality.
# To enable, set search.mode to 'elasticsearch'. The host value should be the full host name
# (without protocol) and the port number. So if my host is https://myelasticdb.com, then the
# value for elasticsearch.host would be 'myelasticdb.com:443'.
search.mode=
elasticsearch.host=
elasticsearch.index=
elasticsearch.use-ssl=
elasticsearch.username=
elasticsearch.password=

### SSL
# Optional
# If SSL is enabled, set the port to 8443 or 443
#server.port=8443
#server.ssl.enabled=true
#server.ssl.key-store-type=PKCS12
server.ssl.key-alias=
server.ssl.key-store=
server.ssl.key-store-password=

### Single Sign-On
# Optional
# If using Okta for SSO, set option to 'okta-saml'
security.sso=

# Okta
sso.okta.url=
saml.audience=
saml.idp=
saml.metadata-url=
saml.metadata-base-url=
saml.keystore.location=
saml.keystore.alias=
saml.keystore.password=