# Data source
db.username=studytracker
db.password=studytracker
db.host=localhost
db.name=study-tracker-test
db.port=27017
db.connectionString=mongodb://${db.host}:${db.port}
# Storage
storage.local-dir=/tmp
storage.use-existing=true
# LDAP
ldap.admin.username=username
ldap.admin.password=password
ldap.url=
ldap.domain=
ldap.base=
ldap.searchBase=
ldap.filter=
ldap.example.username=username
ldap.example.password=password