# Storage
storage.local-dir=/tmp
storage.use-existing=true
# Data source
db.username=studytracker
db.password=studytracker
db.host=localhost
db.name=study-tracker-test
db.port=27017
db.connectionString=mongodb://${db.host}:${db.port}
# IDBS
inventory.mode=idbs
notebook.mode=idbs
idbs.inventory.api.username=user
idbs.inventory.api.password=password
idbs.inventory.api.root-url=https://mydomain.idbs-eworkbook.com:8483
idbs.eln.api.token=xxxxx
idbs.eln.api.root-url=https://mydomain.idbs-eworkbook.com:8443
idbs.eln.api.root-entity=1