spring.profiles.active=example
#
### App
spring.application.name=Study Tracker
#
### Data source
db.username=studytracker
db.password=studytracker
db.host=localhost
db.name=study-tracker
db.port=27017
db.connectionString=mongodb://${db.host}:${db.port}
#
# Security

#
#Document writing
documents.slideshow.template=study_template.pptx
#
### Notebook
# Options: none, idbs
notebook.mode=none
#
### Storage
# Options: local, egnyte
storage.mode=local
storage.use-existing=true
storage.max-folder-read-depth=1
#
# Local
storage.temp-dir=/tmp
storage.local-dir=${storage.temp-dir}
#
# Egnyte
egnyte.root-url=
egnyte.api-token=
egnyte.root-path=
egnyte.qps=3
#
### Studies
study.default-code-prefix=ST
study.default-external-code-prefix=EX
#
### LDAP
ldap.url=
ldap.domain=
ldap.base=
ldap.searchBase=
ldap.filter=
ldap.admin.username=
ldap.admin.password=
#
### Teams
teams.enabled=true
teams.username=
teams.password=
teams.client-id=
teams.secret=
teams.default-team=
teams.default-channel=
