spring.profiles.active=example

### App
spring.application.name=Study Tracker

### Data source
db.username=studytracker
db.password=studytracker
db.host=localhost
db.name=study-tracker
db.port=27017
db.connectionString=mongodb://${db.host}:${db.port}

### Events
events.mode=local

# AWS
aws.region=us-east-1
aws.access-key-id=xxx
aws.secret-access-key=xxx

### Notebook
# Options: none, benchling
notebook.mode=none

### Benchling
benchling.eln.api.token=xxx
benchling.eln.tenant=xxx
benchling.eln.api.root-url=https://${benchling.eln.tenant}.benchling.com
benchling.eln.api.root-entity=
benchling.eln.api.root-folder-url=${benchling.eln.tenant}/xxx/f_

### Storage
# Options: local, egnyte
storage.mode=local
storage.use-existing=true
storage.max-folder-read-depth=1

# Local
storage.temp-dir=/tmp
storage.local-dir=${storage.temp-dir}

# Egnyte
egnyte.root-url=
egnyte.api-token=
egnyte.root-path=
egnyte.qps=3

### Studies
study.default-code-prefix=ST
study.default-external-code-prefix=EX